---
layout: default
title: Home
---

<div class="Home">
  <p class="Home-about">
    LitDevs is a community for those interested in discussing and participating in the research and development of Bitcoin, Lightning, and related protocols.
  </p>
  <p class="Home-about">
    We host monthly socratic seminars that are highly technical in nature, and open to all.
  </p>
  <p class="Home-about">
    We observe the <a href="https://www.chathamhouse.org/about-us/chatham-house-rule">Chatham House rule</a> - "participants are free to use the information received, but neither the identity nor the affiliation of the speaker(s), nor that of any other participant, may be revealed."
  </p>
  <p class="Home-about">
    NOTE: This socratic seminar series is focused on the Lightning network. For the main general Bitcoin socratic seminar series, see <a href="https://austinbitdevs.com/">BitDevs</a>.
  </p>
</div>
  </p>

  <div class="Home-posts">
    <h2 class="Home-posts-title">Socratic Seminars</h2>
    {% for post in site.posts %}
      {% if post.type == "socratic" %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date | date_to_string }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

  <div class="Home-posts">
    <h2 class="Home-posts-title">Prior Events</h2>
    {% for post in site.posts %}
      {% if post.type == "meetup" %}
        <div class="Home-posts-post">
          <span class="Home-posts-post-date">{{ post.date | date_to_string }}</span>
          <span class="Home-posts-post-arrow">&raquo;</span>
          <a class="Home-posts-post-title" href="{{ post.url | relative_url }}">{{ post.title }}</a>
        </div>
      {% endif %}
    {% endfor %}
  </div>

</div>
